/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "sassy-buttons";

input[type=text] {
	@include border-radius(25px);
	border: 1px solid #aaaaaa;
	height: 30px;
	width: 300px;
	font-size: 14pt;
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

input[type=submit] {
	@include sassy-button-gradient("glass", #33aa99);
	@include sassy-button-structure(25px, 25px);
	width: 150px;
	font-size: 14pt;
	height: 30px;
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

#line-window {
}

#line-output {
	@include border-radius(5px);
	background: #eeeeee;
	border: 1px solid #000066;
  width: 700px;
	height: 400px;
	overflow: scroll;
	font: {
		family: "Helvetica", "Arial", sans-serif;
		size: 10pt;
	}
}

#line-input {
	padding: 10px;
}

li:nth-child(even) {background: #eeeeff}
li:nth-child(odd) {background: #ddddff}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	padding: 5px;
	line-height: 20px;
}
