/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
.lines_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: #dddddd;
  padding: 20px;
  border: 10px solid #333333;
  margin: 10px;
  width: 300px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10pt;
}

/* line 23, ../sass/screen.scss */
.button_container {
  text-align: center;
  vertical-align: middle;
  margin-top: 20px;
}

/* line 29, ../sass/screen.scss */
.button {
  font-size: 20px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4CAE5F', endColorstr='#FF2D6738');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #66bc77), color-stop(51%, #4cae5f));
  background: -webkit-linear-gradient(#66bc77 50%, #4cae5f 51%);
  background: -moz-linear-gradient(#66bc77 50%, #4cae5f 51%);
  background: -o-linear-gradient(#66bc77 50%, #4cae5f 51%);
  background: linear-gradient(#66bc77 50%, #4cae5f 51%);
  -webkit-box-shadow: #9cd4a7 0 1px 0 inset;
  -moz-box-shadow: #9cd4a7 0 1px 0 inset;
  box-shadow: #9cd4a7 0 1px 0 inset;
  border: 1px solid #449c55;
  color: white;
  text-shadow: #306f3d 0 -1px 0;
  width: 220px;
  font-size: 14pt;
  padding: 15px;
}
/* line 15, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  text-decoration: none;
}
/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  background-color: #419551;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #4eb261), color-stop(51%, #419551));
  background: -webkit-linear-gradient(#4eb261 50%, #419551 51%);
  background: -moz-linear-gradient(#4eb261 50%, #419551 51%);
  background: -o-linear-gradient(#4eb261 50%, #419551 51%);
  background: linear-gradient(#4eb261 50%, #419551 51%);
}
/* line 33, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  -webkit-box-shadow: #40924f 0 1px 2px inset;
  -moz-box-shadow: #40924f 0 1px 2px inset;
  box-shadow: #40924f 0 1px 2px inset;
}
/* line 6, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button.disabled, .button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #4cae5f;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
